.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #EEEEEE;
    font-weight: 500;
    margin-left: 40px;
    text-transform: uppercase;
}

.navbar a:first-child {
    margin-left: 0px;
}

.navbar a:hover {
    color: #00ADB5;
}

.navbar .active {
    color: #00ADB5;
}